.imageContainer {
	position: relative;
	height: 350px;
}

.imageOverlay {
	z-index: 150;
	position: absolute;

	width: 95%;
	/*background-color: rgba(0, 0, 0, .1);*/

	left: 20px;
	top: 150px;
}

.desc {
	color: #2a2a2a;
}